{% set langCurrent = language.locale|split('_') %}
<!DOCTYPE html>
<html lang="{{ langCurrent[0] }}">


<head>
{# block head #}
{% block head %}
{% include 'general/head.twig' %}
{% endblock %}
{# / block head #}
</head>
<body>
{# header nav #}
{% block header %}
{% include 'general/header.twig' %}
{% endblock %} 
{# / header nav #}
<div class="body-wrap">
 {% block body %}{% endblock %}
</div>

{% block footer %}
{% include 'general/footer.twig' %}    
{% endblock %}
{# scripts #}
{% block scripts %}
{% include 'general/scripts.twig' %}
{% endblock %}    

  </body>
</html>
