{% extends "general/layout.twig" %}

{% block body %}
<div class="container">	
	<h1>Crear evento</h1>
	<div class="add-event-form">
		<form action="" method="post">
			<div class="form-group">
	           	<input type="text" class="form-control" id="" name="eventName" minlength="2" maxlength="60" required placeholder="Nombre del evento">
	        </div>
	        <select class="form-control" required>
	        {% for c in category %}
	        	<option value="{{ c.id  }}">{{ c.category }}</option>
	        {% endfor %}
			</select>
			<div class="form-group">
				<input data-label="Upload" class="form-control" type="file" required>
	        </div>
		</form>
	</div>	
</div>
{% endblock %}
{% block scripts %}
	{{ parent() }}
<script src="{{ qv.js }}/jquery.filepicker.js"></script>
<script>
$(function() {
	$("input[type='file']").filepicker({
		style: 'bootstrap' 
	});
});
</script>
{% endblock %}

